<!DOCTYPE html>
<html>
<head>
	<title>Dictation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/dictation.css">
</head>
<body>
	<div class="container ng-cloak" ng-app="app" ng-controller="AppCtrl">
		<div class="row">

			<div class="span4" id="list_panel">
				<div class="well">
					<div class="toolbar">
						<button class="btn btn-mini" ng-click="selectAllLists(true)">Select all</button>
						<button class="btn btn-mini" ng-click="selectAllLists(false)">Select none</button>
					</div>
					<ul>
						<li ng-repeat="list in lists">
							<label>
								<input type="checkbox" ng-model="list.selected" ng-change="listSelectionChanged()">
								<span>{{list.name}}</span>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="span8" id="work_panel">
				<ul class="nav nav-tabs">
					<li ng-class="{active:activeTab == 'practice'}" ng-click="activeTab = 'practice'"><a href="javascript:void(0)">Practice</a></li>
					<li ng-class="{active:activeTab == 'overview'}" ng-click="activeTab = 'overview'"><a href="javascript:void(0)">Words</a></li>
				</ul>

				<div id="practice" ng-show="activeTab == 'practice'">
					<div ng-show="!dictating">
						<h1>{{selectedWords.length}} words</h1>
						<p><button class="btn btn-large btn-primary" ng-disabled="disableDictationButton" ng-click="startDictation()">Start practice</button></p>
					</div>
					<div ng-show="dictating">
						<div ng-show="dictationSession.ended()">
							<p>Covered {{dictationSession.dictatedWords.length}} words in this practice session:</p>
							<p>
								<a ng-repeat="word in dictationSession.dictatedWords" class="word color-on-hover" ng-click="playAudio(word.url)">
									<span>{{word.text}}</span>
								</a>
							</p>
							<p><button class="btn" ng-click="stopDictation()">OK</button></p>
						</div>
						<div id="running_dictation_session" ng-show="!dictationSession.ended()">
							<h1>{{dictationSession.index + 1}} / {{dictationSession.total()}}</h1>
							<div>
								<audio id="player" controls autoplay preload>
									<source src="{{dictationSession.getCurrentWord().oggUrl}}" type="audio/ogg">
									<source src="{{dictationSession.getCurrentWord().url}}" type="audio/aac">
								</audio>
							</div>
							<p style="margin-top: 1.5em">
								<button class="btn" ng-click="endDictation()">End practice</button>
								<button class="btn" ng-click="dictationSession.showCurrentWord(true)">Show word</button>
								<button class="btn btn-primary" style="margin-left: 2em" ng-click="nextDictationWord()">Next word &raquo;</button>
							</p>
							<div ng-show="dictationSession.showCurrentWord()">
								<h2>"{{dictationSession.getCurrentWord().text}}"</h2>
								<p><small>From: {{dictationSession.getCurrentWord().list.name}}</small></p>
							</div>
						</div>
					</div>
				</div>
				
				<div id="overview" ng-show="activeTab == 'overview'">
					<ng-switch on="selectedLists.length > 0">
						<div ng-switch-when="true">
							<p><input ng-model="search.text" style="width: 100%" autofocus placeholder="Enter word to search..."></p>

							<div ng-show="isPresent(search.text)">
								<a ng-repeat="word in words | filter:search" class="word color-on-hover" ng-click="playAudio(word.url)">
									<span>{{word.text}}</span>
								</a>
							</div>
							<div ng-show="!isPresent(search.text)">
								<div ng-repeat="list in selectedLists">
									<h4>{{list.name}} <span class="close" ng-click="deselectList(list)">&times;</span></h4>
									<a ng-repeat="word in list.words" class="word color-on-hover" ng-click="playAudio(word.url)">
										<span>{{word.text}}</span>
									</a>
								</div>
							</div>
						</div>
						<div ng-switch-when="false">
							Please select at least 1 word list on the left.
						</div>
					</ng-switch>
				</div>
			</div>

		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/dictation.js"></script>
	<script src="js/words.js"></script>
</body>
</html>
